In [53]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_squared_error
from datetime import datetime
print(datetime.now().year)

2023

In [54]:
df=pd.read_csv('car.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [56]:
df.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

In [57]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [58]:
df['age']=datetime.now().year-df['Year']

In [59]:
df.drop(axis=1,columns=['Car_Name',"Year"],inplace=True)

In [60]:
df.head()

,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner,age
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,9
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,10
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,6
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,12
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,9

In [61]:
data=pd.get_dummies(data=df,drop_first=True)

In [62]:
y=data['Selling_Price']
x=data.drop(axis=1,columns=['Selling_Price'])

In [63]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=20,test_size=0.2)
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
for i,j in zip(y_pred,y_test):
    print(j,'-->',i)

11.25 --> 8.034264014915273
4.5 --> 4.742542217725509
7.45 --> 7.991870818836452
1.05 --> 0.8534166829132612
0.72 --> 1.6022694375860498
8.55 --> 9.023764900947139
2.65 --> 2.80994327419657
5.35 --> 6.547050383400045
18.75 --> 19.315110306752043
1.75 --> 1.9798486993934863
0.12 --> -2.187361769204884
1.15 --> 1.782448299138692
0.45 --> 2.765279602320584
5.4 --> 6.149386824696234
5.95 --> 6.823085188988676
9.7 --> 7.66840776109286
5.25 --> 5.591982990945272
0.31 --> -1.7910785589003586
6.25 --> 7.193100997377922
0.2 --> -0.9137105871212334
3.15 --> 4.295976677215005
5.85 --> 8.336146333748077
10.11 --> 8.100780930814505
23.5 --> 19.862413054881394
3.8 --> 7.2802651475775315
4.4 --> 4.559569246156116
6.6 --> 5.638903639029759
5.95 --> 5.855319234790958
0.4 --> 0.657464019194836
5.8 --> 5.215957405163636
2.75 --> 0.8319196844948307
0.48 --> 1.75801546585551
1.2 --> 2.127915197139661
11.25 --> 9.900547248813364
4.9 --> 5.266494381760773
3.49 --> 4.687063379222873
6.7 --> 6.2004754205707355
6.5 --> 7.327713723112145
1.15 --> 1.4214512431311013
7.25 --> 8.179865634920555
0.45 --> 1.4344548693966042
0.42 --> 0.33332883783687706
4.8 --> 4.975546706408324
6.0 --> 7.443602636588249
0.5 --> -0.33479226194175205
1.35 --> 1.064284605691574
2.95 --> 2.776734505219115
4.0 --> 9.807634839122496
4.4 --> 4.3737275489255065
33.0 --> 20.948891905495962
1.35 --> 2.167173320457144
9.5 --> 8.928607998939404
3.1 --> 5.027791033166075
0.75 --> 1.0781608837552925
0.45 --> 0.05540956257705787
3.35 --> 3.9642626877004528
8.25 --> 7.494493805467996
3.0 --> 2.6438580872943858
7.5 --> 6.150566397709726
0.95 --> 0.3859208874704585

In [65]:
print(lr.coef_)
print(lr.intercept_)
print(mean_squared_error(y_test,y_pred))

[ 4.12424442e-01 -5.68958309e-06 -7.36161262e-01 -3.70925672e-01
  2.61419656e+00  8.30614683e-01 -1.34096914e+00 -1.33210419e+00]
5.65224935650965
4.624746513268101